.ipynb_checkpoints
.ipynb_checkpoints/cloudtop_slf_comparison-checkpoint.py
.ipynb_checkpoints/plt_slf-checkpoint.py
.ipynb_checkpoints/slf_comparison-checkpoint.ipynb
.ipynb_checkpoints/cplot-checkpoint.py
.ipynb_checkpoints/cloudtop_slf-checkpoint.ipynb
.ipynb_checkpoints/slf_comparison-checkpoint.py
.ipynb_checkpoints/functions-checkpoint.py
.ipynb_checkpoints/slf_comparison-Copy1-checkpoint.py
.ipynb_checkpoints/classes-checkpoint.py
.ipynb_checkpoints/verify_bergo-checkpoint.py
.ipynb_checkpoints/checking_inp-checkpoint.ipynb
.ipynb_checkpoints/cloudtop_slf_comparison-checkpoint.ipynb
.ipynb_checkpoints/imports-checkpoint.py
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/jupy_test-checkpoint.py
.ipynb_checkpoints/compare_slf_caliop-checkpoint.py
.ipynb_checkpoints/entrainment_validation-checkpoint.ipynb
.ipynb_checkpoints/parameterspace-checkpoint.ipynb
.ipynb_checkpoints/cloudtop_vs_bulk-checkpoint.ipynb
.ipynb_checkpoints/regression_testbed-checkpoint.ipynb
.ipynb_checkpoints/cloudprofile_alajenny-checkpoint.ipynb
